@font-face
{
	font-family: 'Amble';
	src: url('Font/Amble-Regular.ttf');
}

body {
    background-color: white;
    margin:auto;
    font-family: 'Amble', arial, 'sans-seriff';
    font-size: 0.8em;
    color: black;
    max-width: 950px;

}
a{
    color: grey
}

a:hover{
    color:#9CCC65;
}
header img{
     border-radius: 80%;
     border: 3px solid #4CAF50;
     width: 158px;
     height: 158px;

 }
#photo{
    background-color:#9CCC65;
    width: auto;
    padding: 20px;
    text-align: center;
    margin: 10px;

}
#identity{
    width: auto;
    padding-top: 5px;
    padding-bottom: 0px;
    margin-top: 5px;
    margin-bottom: 0px;
    text-align: center;
}
#identity h1{
    font-size: 2em;
    color:#9CCC65;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    
}
.nom{
    color: black;
    font-weight: lighter;
}
#identity h2{
    font-size: 1.5em;
    margin-top: 0px;
    margin-bottom: 10px;
}
.underline{
    border-bottom: 1px solid #9CCC65;
}
.container{
    display: flex;
    flex-direction: column-reverse;
    margin: 10px;

}
aside{
    display:flex;
    flex-direction: column;
    width:100%;
    background-color: #9CCC65;
    margin-top: 10px;
}

aside h3 {
    color:#9CCC65;
    background-color: #404040 ;
    text-align: center;
    font-size: 1.5em;
    margin-top:0px;
    padding-right:0px;
    padding-left:0px;

}
.contact p{
    text-align: center;
    font-size: 1em;

}
.contact a:hover{
    color:black;
}
.about p{
    text-align: justify;
    font-size: 1em;
    padding: 10px;

}
.icones{
    padding-right:10px;
    padding-left:10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center ;
}
.icones_hobbies{
    width: 45px;
    height: 45px;
    color: #404040;
    font-size: 2em;
    border: 2px solid #404040;
    border-radius: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.right_title{
    display:flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: start;
    border-bottom:1px solid #9CCC65;
    margin-top: 40px;
}
.right_title h3{
    margin:5px;
    font-size: 1.5em;
}
.main_icones{
    color:#9CCC65;
    font-size: 1.5em;
    margin-right: 10px;
}
.right_content{
    display:flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: start;
    margin-top: 10px;
}
.date_place_icones{
    display:flex;
    flex-direction:row;
    align-items: baseline;
    justify-content: start;
}
.dot_circle{
    font-size: 1em;
    color:#9CCC65;
    padding-right: 10px;
}
.circle{
    font-size: 0.6em;
    color: #9CCC65;
    padding-right: 10px;
}
ul {
    list-style-type: none;
}
.recommandations{
    text-align: center;
    margin-top:20px;
    margin-bottom:10px;
}

@media only screen and (min-width:600px){
    .recommandations{
        text-align:center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .right_content{
        display: flex;
        flex-direction: row;
    }
    .date_place_icones{
        min-width: 150px;
    }
    
}

@media only screen and (min-width:960px){
    body{
        background-color: black;
    }
    .container_principal{
        background-color: white;
        margin-top:10px;
        margin-bottom: 10px;
        border:1px solid grey;
    }
    header{
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .container{
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
        margin:0px 0px 0px 0px;
    }
    #photo{
        text-align: center;
        padding:0px;
        margin:0px;
        width: 30%;
    }
    header img{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    #identity{
        text-align: justify;
        margin-left: 40px;
        margin-top:40px;
        margin-bottom: 40px;
    }
    #identity h1{
        font-size: 3em;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .nom{
        font-weight:lighter;
    }

    #identity h2{
        font-size: 2em;
        font-weight: lighter;
    }
    main{
        margin-top:0px;
        margin-left: 40px;
        margin-right: 0px;
        width: 65%;
    }
    .right_title{
        margin-top:0px;
    }

    aside{
        padding-top:5px;
        margin: 0px;
        width: 30%;
    }
    .right_content{
        display: flex;
        flex-direction: row;
        
    }
    .date_place_icones{
        min-width: 200px;
    }
    .titre_droit{
        margin-right: 25px;
    }
    .recommandations{
        text-align: left;
        padding-bottom: 20px;
    }
    .about p{
        padding: 20px 20px 330px 20px ;
        
    }
    .icones{
        padding-top:40px;
        padding-bottom: 20px;
    }
    

    
}